<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{title}}</title>
    {# deliberately earlu #}
    <script type="module" src="/@input/js/utilities/theme-toggle.js"></script>

    {% include "partials/meta-tags.njk" %}
  </head>

  <body class="{{page.fileSlug}}">
    {{content | safe}}
    {% include "partials/spinner.njk" %}

  </body>

</html>