.alumni {
  gap: var(--size-fluid-1);
}

.alumnus {
  &:first-of-type {
    margin-inline-start: var(--size-2);
  }
  &:last-of-type {
    margin-inline-end: var(--size-2);
  }

  margin-block: var(--size-2);
  > button {
    display: grid;
    grid-template-areas: 'content';
    padding: unset;
    > img {
      grid-area: content;
    }
    > h3 {
      grid-area: content;
    }
  }
}
