.alumni {
  .list-view {
    .element {
      --_thumbnail-size: 30px;
      --_name-size: 207px;
      --_email-size: 290px;
      --_mobile-size: 110px;
      --_psa-size: 80px;
      --_bio-size: 260px;

      --_grid-template-columns: var(--_thumbnail-size) var(--_name-size)
        var(--_email-size) var(--_mobile-size) var(--_psa-size) var(--_bio-size);
    }
  }
}
