{% set modal = {
  target: "alumni",
  dialogs: ["create","update"],
  inputs: ["name","email","mobile","bio","image","psa","thumbnail"]} %}

{% include "partials/inputs.njk" %}
{% include "partials/modals.njk" %}

<div id="root"></div>
