{% set modal = {
  target: "player",
  dialogs: ["create","update"],
  inputs: ["name","dob","email","mobile","member","card","notes","image","thumbnail","db-dates"]} %}

{% include "partials/inputs.njk" %}
{% include "partials/modals.njk" %}

<div id="root"></div>