<details id="notes">
  <summary id="notes-summary">notes</summary>
  {% set button = {name: "add note", id: "notes-add", icon: {name: '+'} } %}
  {% include "partials/button.njk" %}
  <section id="notes-detail">
  </section>
</details>