
<section id="signIn">
  <button id="signOut"><span>sign out</span></button>
  <button id="signIn-manage"><span>manage</span></button>
  <button id="signIn-delete"><span>delete</span></button>
  <span id="signIn-userName"></span>
  <div id="signIn-mounted"></div>
</section>
