
<section id="controls">
  <button id="signOut"><span>sign out</span></button>
  <button id="manage"><span>manage</span></button>
  <button id="delete"><span>delete</span></button>
  <span id="userName"></span>
  <div id="mounted"></div>
</section>
