#add-modal-image {
  box-shadow: var(--shadow-3);
  display: grid;
  grid-template-areas: 'content';
  cursor: pointer;
  > * {
    grid-area: content;
  }

  input {
    display: none;
  }

  p {
    place-self: start;
  }

  img {
    block-size: 100%;
    min-block-size: 30vh;
    object-fit: cover;
  }

  button {
    border: unset;
    opacity: 0.5;
  }
}
