#body-header {
  position: fixed;
  top: 0px;
  inline-size: 100%;
  background-color: var(--surface-1);
  border-block-end: 1px solid var(--text-2);
  box-shadow: var(--shadow-3);
  z-index: var(--layer-important);

  > .contents {
    // background-color: burlywood;
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr;
  }

  #logo {
    img {
      min-inline-size: var(--size-fluid-5);
    }
  }

  #controls {
    gap: 0.5em;
    border: unset;
    box-sizing: unset;
    padding-block: unset;
    border-radius: unset;
    box-shadow: unset;
    padding-inline-end: var(--size-2);

    #userName {
      font-size: small;
    }
  }
}
