#create-controls {
  position: fixed;
  top: 10%;
  right: 10px;
  // min(
  //   min(100vw, var(--site-max-width)),
  //   calc(50% + (var(--site-max-width) / 2))
  // );
  padding: var(--size-2);
  margin-left: var(--size-1);
  z-index: var(--layer-important);
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
  button {
    background-color: transparent;
  }
}

#list-controls {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: var(--size-2);
}

#search-control {
  border-radius: 100vw;
  display: flex;
  gap: unset;
  position: relative;

  input {
    display: none;
    background-color: transparent;
    border-radius: 100vw;
    padding-inline-end: unset;
    outline: none;
  }

  &:focus-within {
    padding-inline: var(--size-2);
    border: 1px solid var(--gray-6);
    margin-inline-start: var(--size-1);
    outline: 2px solid green;
    background-color: var(--surface-2);
    position: absolute;
    right: 105%;
    input {
      left: -200px;
      display: inline-block;
    }
  }
}
