html:has(.person-view) {
  overflow-y: hidden;
}

html:has(.grid-view, .list-view) {
  overflow-y: scroll;
}

.elements {
  padding-inline-end: var(--size-2);
  padding-block-end: var(--size-2);
}

.element {
  display: grid;
  grid-template-areas: 'content';
  margin-block-end: var(--size-2);

  > * {
    display: none;
  }

  [data-name='image'],
  [data-name='thumbnail'] {
    max-block-size: 70vh;
    display: inline-flex;
    grid-area: content;
    padding-block: unset;
    padding-inline: unset;
    margin-block: var(--size-2);
    overflow: hidden;
    img {
      inline-size: 100%;
    }
  }

  [data-name='thumbnail'] {
    display: none;
  }

  [data-name='name'] {
    cursor: pointer;
    display: block;
    grid-area: content;
    place-self: center;
    z-index: 1;

    background-color: var(--surface-3);
    font-size: var(--font-size-fluid-1);
    opacity: 0.7;
    padding-block: 0.25em;
    padding-inline: 1em;
    place-self: center;
    text-align: center;
  }
}

.person-view {
  .element {
    &:first-of-type {
      margin-inline-start: var(--size-2);
    }
    &:last-of-type {
      margin-inline-end: var(--size-2);
    }
  }
}

.list-view {
  container: list-view / inline-size;
  grid-auto-flow: row;
  grid-template-areas: unset;
  gap: unset;
  overflow-x: hidden;

  .element {
    --_grid-template-columns: 1fr;
    max-inline-size: 100%;
    min-block-size: unset;
    grid-auto-flow: column;
    align-items: center;
    margin-block-end: unset;
    border-block-end: 1px solid var(--gray-4);
    grid-template-columns: var(--_grid-template-columns);

    > *:hover {
      color: var(--green-6);
    }

    > * {
      display: inline-block;
    }

    [data-name='image'],
    [data-name='id'],
    [data-name='createdAt'],
    [data-name='updatedAt'] {
      display: none;
    }

    [data-name='thumbnail'] {
      inline-size: 3ch;
      aspect-ratio: var(--ratio-square);
      border-radius: var(--radius-round);
      &:not(:active):hover {
        margin-inline-start: var(--size-1);
        --_highlight-size: var(--size-1);
      }
    }

    [data-name='name'] {
      all: unset;
      cursor: pointer;
      font-weight: bolder;
      cursor: pointer;
      margin-inline-start: var(--size-2);
    }

    details {
      // covers 'name="bio" && name="description"
      &:hover {
        color: inherit;
      }

      summary {
        font-size: var(--font-size-1);
      }

      p {
        font-size: var(--font-size-1);
      }
    }
  }
}

.grid-view {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--size-3);
  padding: var(--size-3);

  .element {
    aspect-ratio: 1;
    inline-size: max(200px, 100%);
    min-block-size: unset;
    min-inline-size: 200px;
    margin-block-end: unset;
    [data-name='image'] {
      margin-block: unset;
      img {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}

.element-details {
  position: relative;
  .delete-from-collection {
    position: absolute;
    right: var(--size-2);
    top: var(--size-2);
  }
}

.element-details-content {
  border: unset;
  padding-inline: unset;
  padding-block: unset;
  grid-auto-flow: column;

  // hide createdAt, updatedAt
  > div {
    display: none;
  }
}

.details-content:has(> section.element-details) {
  display: flex;
  flex-wrap: wrap;

  .element-details {
    inline-size: min-content;
  }
}
