nav {
  --_speed: 200ms;
  ul {
    display: grid;
    grid-auto-flow: column;
    gap: var(--size-fluid-2);
    a {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        right: 50%;
        left: 50%;
        border-block-end: 4px double var(--green-10);
        transition: right var(--_speed) ease-in-out,
          left var(--_speed) ease-in-out;
      }

      &:hover::after {
        right: 0;
        left: 0;
      }

      &.active-page {
        font-weight: var(--font-weight-6);

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          border-block-end: 2px solid var(--green-10);
          transition: right var(--_speed) ease-in-out,
            left var(--_speed) ease-in-out;
        }

        &:hover::after {
          right: 100%;
          left: 100%;
        }
      }
    }
  }
}
