nav {
  --_speed: 200ms;
  --_transition: right var(--_speed) ease-in-out, left var(--_speed) ease-in-out;
  --_color: var(--green-10);
  ul {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    gap: var(--size-fluid-2);

    a {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        right: 50%;
        left: 50%;
        border-block-end: 4px double var(--_color);
        transition: var(--_transition);
      }

      &:hover::after {
        right: 0;
        left: 0;
      }

      &.active-page {
        font-weight: var(--font-weight-6);

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          border-block-end: 2px solid var(--_color);
          transition: var(--_transition);
        }

        &:hover::after {
          right: 100%;
          left: 100%;
        }
      }
    }
  }
}
