.Session-details {
  .element-details-content {
    display: grid;
    gap: var(--size-2);
    grid-auto-flow: unset;
    grid-template-columns: 1fr 1fr 1fr;

    > details {
      grid-column: 1/-1;
    }
    label[for$='-description'] {
      grid-column: 1/-1;
    }
  }
}
