---
layout: 'base.njk'
---
  <a class="roa-launch" href="https://westwarwicks.club/squash/#roa">
    <img src="images/roa-welcome.avif" alt="Rob Owen Academy">
    <img src="images/roa-squash-banner.avif" alt="Rob Owen Academy">
    <img src="images/roa-tin.avif" alt="Rob Owen Academy">
  </a>
  {# <script>
    setTimeout(() => {
      window.location.href = "https://westwarwicks.club/squash/#roa"
    }, 1000)
  </script> #}