{% set nav = {id: "nav", pages: ["programme","session","coach","player","alumni","products"]} %}
<header id="body-header">
  <section class="contents">
    <section id="logo"><img src="/favicon.png" alt="ROA logo"></section>
    {% include "partials/navigation.njk" %}
    <section id="controls" hidden>
      <span id="userName"></span>
      <div id="mounted"></div>
    </section>
  </section>
</header>