<dialog id="error-dialog" class="dialog">
  <header>
    <p>Error</p>
    <button type="button" id="close-error-dialog">
      <span class="bicp">&#xF623;</span>
    </button>
  </header>
  <section>
    <p id="error-message"></p>
  </section>
  <footer>
    <button type="button" id="exit-error-dialog">
      <span class="bicp">&#xF623;</span>
      <span>exit</span>
    </button>
  </footer>
</dialog>