{% if icon %}
  {% if icon.name === '+' %}
    <span class="bicp">&#xF4FA;</span>
  {% endif %}

  {% if icon.name === 'x' %}
    <span class="bicp">&#xF623;</span>
  {% endif %}

  {% if icon.name === '-' %}
    <span class="bicp">&#xF2E6;</span>
  {% endif %}

  {% if icon.name === 'edit' %}
    <span class="bicp">&#xF4CB;</span>
  {% endif %}

  {% if icon.name === 'delete' %}
    <span class="bicp">&#xF78B;</span>
  {% endif %}

  {% if icon.name === 'list' %}
    <span class="bicp">&#xF478;</span>
  {% endif %}

  {% if icon.name === 'person' %}
    <span class="bicp">&#xF3A7;</span>
  {% endif %}

  {% if icon.name === 'grid' %}
    <span class="bicp">&#xF3FC;</span>
  {% endif %}

  {% if icon.name === 'search' %}
    <span class="bicp">&#xF52A;</span>
  {% endif %}
{% endif %}
